@font-face {
    font-family: "TextoNormal" ;
    src: url("../fonts/Silver.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    
}

#game {
    position: relative;
    width: 800px;
    height: 800px;
    border: 2px solid #333;
    background: url(/Assets/backgroundimage.png);
}

#player {
    position:absolute;
    width: 23px;
    height:32px;
    background-color: #007BFF;
    border-radius: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(/Assets/AnimationSheet_Character.png);
    zoom: 1.5;
}




.stone {
    position: absolute;
    width: 47px;
    height: 47px;
    background-color: #B22222;
    border-radius: 5px;
    background: url(/Assets/enemy.png);
}

.stone.hidden {
    display: none;
}

#round {
    position: fixed;
    top: 350px;
    left: 150px;
    font-size: 80px;
    font-family: 'TextoNormal';
    color: rgb(255, 255, 255);
    z-index: 20; /* Acima da máscara */
}
